a {
  cursor: pointer;
}

label {
  cursor: pointer;
}

.footer-txt {
  transition: color 0.3s ease-in-out;
}

.footer-txt:hover {
  color: transparent;
  background-image: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
}

.spinner-container {
  background-color: white;
  z-index: 666;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: 0.2s linear 1.3s spinner-container;
  animation-fill-mode: forwards;
}

@keyframes spinner-container {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0;
    display: none;
  }
}

.loader {
  width: 200px;
  height: 200px;
  animation: rotate 6s linear infinite;

  .loader-path {
    stroke-linecap: round;
    transform-origin: center;
    animation: color-change 1.5s ease-in-out infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes color-change {
    0% {
      stroke: #99E2D0;
      stroke-dasharray: 20, 100;
    }
    50% {
      stroke: #9356DC;
      stroke-dasharray: 80, 100;
    }
    100% {
      stroke: #FF79DA;
      stroke-dasharray: 130, 100;
    }
  }
}


input {
  box-sizing: content-box;
  border: none;
  padding: 0;
  margin: 0;
  font-family: initial;
  font-size: medium;
  font-weight: normal;
  background-color: transparent;
  color: inherit;
  text-align: left;
  box-shadow: none;
  outline: none;
}

@keyframes FadeIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.entrees {
  animation: FadeIn 1.2s;
  animation-delay: 1.6s;
  transform: scale(0);
  animation-fill-mode: forwards;
}

.plats {
  animation: FadeIn 1.2s;
  animation-delay: 2s;
  transform: scale(0);
  animation-fill-mode: forwards;
}

.desserts {
  animation: FadeIn 1.2s;
  animation-delay: 2.4s;
  transform: scale(0);
  animation-fill-mode: forwards;
}

.favorite-selected {
  cursor: pointer;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


@keyframes notfav {
  0% {
      opacity: 1;
      transform: scale(1);
  }

  25% {
      transform: scale(0.75);
      
  }

  50% {
      transform: scale(0.5);

  }

  75% {
      transform: scale(0.25);
    
  }

  100% {
      transform: scale(0);
      
  }
  }


@keyframes fav {
  0% {
      transform: scale(0);
  }

  10% {
      transform: scale(0.25);
      
  }

  20% {
      transform: scale(0.5);

  }

  30% {
      transform: scale(0.75);
    
  }

  40% {
      transform: scale(1);
      
  }

  50% {
      transform: scale(1.2);
  }

  60% {
      transform: scale(1.5);
      
  }

  70% {
      transform: scale(1.4);
      
  }

  80% {
      transform: scale(1.5);
      
  }

  90% {
      transform: scale(1.25);
      
  }

  100% {
      transform: scale(1.1);

  }
  }